apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "scooter-rental.fullname" . }}
  labels:
    {{- include "scooter-rental.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "scooter-rental.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "scooter-rental.selectorLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "scooter-rental.serviceAccountName" . }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: {{ include "scooter-rental.fullname" . }}-synced-secrets
                  key: DATABASE_URL
            - name: NEXTAUTH_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ include "scooter-rental.fullname" . }}-synced-secrets
                  key: NEXTAUTH_SECRET
            - name: NEXTAUTH_URL
              value: {{ .Values.nextauth.baseUrl | default (printf "https://%s" (index .Values.ingress.hosts 0).host) | quote }}
            - name: NEXT_PUBLIC_BASE_URL
              value: {{ .Values.nextauth.baseUrl | default (printf "https://%s" (index .Values.ingress.hosts 0).host) | quote }}
            - name: GOOGLE_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: {{ include "scooter-rental.fullname" . }}-synced-secrets
                  key: GOOGLE_CLIENT_ID
            - name: GOOGLE_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ include "scooter-rental.fullname" . }}-synced-secrets
                  key: GOOGLE_CLIENT_SECRET
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes: []


