{{- if .Values.ingress.enabled -}}
{{- $fullName := include "scooter-rental.fullname" . -}}
{{- $svcPort := .Values.service.port -}}
{{- if and .Values.ingress.className (not (semverCompare ">=1.18-0" .Capabilities.KubeVersion.GitVersion)) -}}
  {{- if not (hasKey .Values.ingress.annotations "kubernetes.io/ingress.class") -}}
  {{- $_ := set .Values.ingress.annotations "kubernetes.io/ingress.class" .Values.ingress.className -}}
  {{- end -}}
{{- end -}}
{{- if semverCompare ">=1.19-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1
{{- else if semverCompare ">=1.14-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/1beta1
{{- else -}}
apiVersion: extensions/v1beta1
{{- end }}
kind: Ingress
metadata:
  name: {{ $fullName }}
  labels:
    {{- include "scooter-rental.labels" . | nindent 4 }}
  {{- if .Values.ingress.annotations }}
  annotations:
    {{- toYaml .Values.ingress.annotations | nindent 4 }}
  {{- end }}
spec:
  {{- if and .Values.ingress.className (semverCompare ">=1.18-0" .Capabilities.KubeVersion.GitVersion) }}
  ingressClassName: {{ .Values.ingress.className }}
  {{- end }}
  {{- if .Values.ingress.tls }}
  tls:
    {{- range .Values.ingress.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
    {{- range $hostItem := .Values.ingress.hosts }}
    - host: {{ $hostItem.host | quote }}
      http:
        paths:
          {{- range $pathItem := $hostItem.paths }}
          - path: {{ $pathItem.path }}
            {{- if and $pathItem.pathType (semverCompare ">=1.18-0" $.Capabilities.KubeVersion.GitVersion) }}
            pathType: {{ $pathItem.pathType }}
            {{- end }}
            backend:
              {{- if semverCompare ">=1.19-0" $.Capabilities.KubeVersion.GitVersion }}
              service:
                name: {{ if contains "adminer" $hostItem.host }}adminer{{ else }}{{ $fullName }}{{ end }}
                port:
                  number: {{ if contains "adminer" $hostItem.host }}8080{{ else }}{{ $svcPort }}{{ end }}
              {{- else }}
              serviceName: {{ if contains "adminer" $hostItem.host }}adminer{{ else }}{{ $fullName }}{{ end }}
              servicePort: {{ if contains "adminer" $hostItem.host }}8080{{ else }}{{ $svcPort }}{{ end }}
              {{- end }}
          {{- end }}
    {{- end }}
{{- end }}
