apiVersion: v1
kind: PersistentVolume
metadata:
  name: s3-pv
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteMany
  mountOptions:
    - allow-delete
    - allow-other
  persistentVolumeReclaimPolicy: Retain
  storageClassName: s3-storage-class
  csi:
    driver: s3.csi.aws.com
    volumeHandle: s3-data-id
    volumeAttributes:
      bucketName: amzn-s3-scooter-bucket
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: s3-pvc
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  storageClassName: s3-storage-class
  volumeName: s3-pv
